a {
    color: #a89574;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #a8747e;
}
.black-wrapper a:hover {
    color: #a89574
}
.btn {
    color: #a89574;
    border-color: #a89574;
}
.btn.active,
.btn:active,
.btn:hover {
    background-color: #a89574;
}
.btn-group.open .btn.dropdown-toggle {
    color: #a89574;
}
.btn.inverse {
    background: #a89574
}
.btn.inverse:hover {
    border-color: #a89574;
    color: #a89574;
}
blockquote small {
    color: #a89574;
}
.lite1 {
    color: #a89574;
    border-bottom-color: #a89574;
}
.process h4 span {
    color: #a89574
}
.icon i.icn {
    border-color: #a89574;
    color: #a89574;
}
.step:hover i.icn {
    background: #a89574;
}
.menu ul li.active a,
.menu ul li a:hover,
.menu ul li a.selected {
    color: #a89574
}
.menu ul li ul:before {
    border-bottom-color: #a89574;
}
.menu ul li ul li {
    background: #a89574;
}
.tp-caption.huge {
    color: #a89574;
}
.thumbs .thumb .details h5 a:hover {
    color: #a89574
}
.thumbs .thumb .details p {
    color: #a89574;
}
.dropdown-menu:before {
    border-bottom-color: #a89574;
}
.dropdown-menu li {
    background: #a89574;
}
.post .date {
    border-color: #a89574;
    color: #a89574;
}
.post a.date:hover {
    background-color: #a89574;
}
.posts .format-wrapper {
    background-color: #a89574;
}
.post .post-title a:hover {
    color: #a89574
}
.post.format-chat ul li strong {
    color: #a89574;
}
.sidebox a:hover {
    color: #a89574
}
.sidebox .post-list .meta em {
    color: #a89574;
}
.border-list li a:hover {
    color: #a89574
}
.pagination ul > li > a,
.pagination ul > li > span {
    border-color: #a89574;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background-color: #a89574;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
    background-color: #a89574;
}
.arrow-box.bypostauthor {
    border-color: #a89574
}
.arrow-box.bypostauthor:before {
    border-right-color: #a89574;
}
#comments .info h2 a:hover {
    color: #a89574
}
#comments a.reply-link:hover {
    color: #a89574
}
.progress-list li em {
    color: #a89574;
}
.progress.plain .bar {
    background: #a89574;
}
#testimonials .author {
    color: #a89574;
}
.carousel-indicators li {
    border-color: #a89574;
}
.carousel-indicators li:hover,
.carousel-indicators .active {
    background-color: #a89574
}
.subfooter a:hover {
    color: #a89574
}
#twitter em a:hover {
    color: #a89574
}
.fs-entry .caption a {
    background: #a89574;
}
.accordion-heading a:hover h5 {
    color: #a89574
}
.nav > li > a:hover,
.nav > li > a:focus {
    color: #a89574;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    color: #a89574;
}
.pricing .plan h4 span {
    color: #a89574
}
.overlay a .more {
    background: rgba(168,149,116, 0.92);
}